.about{
    display: grid;
    grid-template-columns: 40% 60%;
    height: 140vh;
    overflow: hidden;
    background-color: #101010;
    letter-spacing: 3px;
    padding: 50px 30px;
    margin-top: 100px;
}
.aboutLeft{
    background: linear-gradient(90deg,rgba(10,10,10,0.1),rgba(10,10,10,0.1)), url("https://i.pinimg.com/564x/66/7c/ab/667cabffd6cdccb4e7c011673731a32c.jpg");
    background-size: cover;
    border-radius: 5%;
    margin-bottom: 25vh;
}
.aboutRight{
    padding: 20px 30px;
    font-size: 22px;
    min-height: 100vh;
    position: relative;
    /* background-color: blueviolet; */
    margin: 10px 20px;
}
#aboutH1{
    font-size: 62px;
    margin: 20px 40px;
    animation: float 2s alternate-reverse infinite linear;
    position: absolute;
    top: 10px;
    left: 0;
}
#aboutP{
    margin: 0;
    padding: 10px;
    position: absolute;
    top: 20%;
    /* background-color: aqua; */
    left: 0;
}
@keyframes float{
    from{
        transform: translate(0);
    }
    to{
        transform: translate(10px, 5px);
    }
}