.WorkBody{
    min-height: 100vh;
    margin-top: 30vh;
    padding: 50px 30px;
}
.workTab{
    display: grid;
    grid-template-columns: 20% auto auto auto ;
    margin: 10px 50px;
}
h1{
    font-size: 80px;
}
h2{
    font-size: 60px;
}
