.workBody{
    margin-top: 30vh;
    padding: 50px 30px;
    min-height: 100vh; 
    position: relative;
}
.workBody h1{
    font-size: 80px;
    position: absolute;
    top: 10px;
    left: 10px;
}
.workTab{
    display: grid;
    grid-template-columns: 70% 30%;
    min-height: 90vh;
    position: relative;
    column-gap: 20px;
    margin: 20px 40px;
}
.workLeft{
    /* background-color: aquamarine; */
}
.workRight{
    background: url('img/NormalisBoring.jpg');
    background-size: cover;
    background-position: bottom;
    border-radius: 5%;
    position: sticky;
    top: 10px;
}
.workCard{
    display: inline-flex;
    flex-direction: column;
    border-radius: 10px;
    border: 5px solid #aaa;
    padding: 10px 20px;
    font-size: 120%;
    cursor: pointer;
    transition: 300ms;
    margin: 10px 20px;
}
.workCard:hover {
    background-color: #aaa;
    color: #101010;
    transform: scale(1.1,1.1);
    /* border-color: #101010;
    background: linear-gradient(30deg, #B06AB3, #4568DC); */
}
