@import url('https://fonts.googleapis.com/css2?family=Neuton&display=swap');

.App {
  background-color:#101010;
  color: #aaa;
  font-family: 'Neuton', serif;
  letter-spacing: 3px;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
