@import url('https://fonts.googleapis.com/css2?family=Neuton&display=swap');

.App {
  background-color:#101010;
  color: #aaa;
  font-family: 'Neuton', serif;
  letter-spacing: 3px;
}
.App-link {
  color: #61dafb;
}

a{
  text-decoration: none;
  color: inherit;
}
p{
  margin: 0;
}
.moodBody li{
  margin: 10px 30% 0 0;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes float{
  from{
      transform: translate(0);
  }
  to{
      transform: translate(-20px, -10px);
  }
}

